html, body { min-height: 100%; }
html, body, div, h1, h2, h3, h4, h5, h6, span, object, iframe, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; letter-spacing: -0.02em; font-family: "SamsungOneKorean", Dotum, "돋움", sans-serif; vertical-align: baseline; background: transparent; word-break: keep-all; /* keep-all 정은정프로 요청사항 */ box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-font-smooting: antialiased; -moz-font-smoothing: grayscale; }
input, button, select, optgroup, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
ol, ul, li { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before,
blockquote:after,
q:before,
q:after { content: none; }

/* Placeholder */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { font-weight: 400; }
input:-moz-placeholder, textarea:-moz-placeholder {font-weight: 400; }
input::-moz-placeholder, textarea::-moz-placeholder {font-weight: 400; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder {font-weight: 400; }

.blind { position: absolute; overflow: hidden; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); }

#skipNavigation a { overflow:hidden;display:block;position:absolute;top:0;left:0;width:1px;height:1px;background:#000;color:#fff;text-align:center;}
#skipNavigation a:focus { position:relative;width:100%;height:auto;padding:10px;}


.header{
	position:sticky;top:0;height:50px;width:100%;background-color:#Fff;

	&.color-red { background-color:red; }
	&.color-orange { background-color: orange; }
	&.color-yellow { background-color: yellow; }
	&.color-green { background-color: green; }
	&.color-blue { background-color: blue; }
}
