@import "common";


.mainContainer{
    [class^="section0"]{height:800px;width:100%;display: flex;justify-content: center;align-items: center;font-size:40px}
    section:nth-child(1){background-color: red;}
    section:nth-child(2){background-color: orange;}
    section:nth-child(3){background-color: yellow;}
    section:nth-child(4){background-color: green;}
    section:nth-child(5){background-color: blue;}
}